<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>EJS Example</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h2>You searched for <%= data.searchQuery %>.</h2>
    <ol>
        <% data.searchResults.forEach(result => {%>
            <li> <%=result%> </li>
        <% }); %>
    </ol>
</body>
</html>